@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    box-shadow: 0px 2px 10px black;

  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }

  #profile {
    height: 57vh;
    margin-bottom: 0%;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 2rem auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact {
    height: 66vh;
  }

  footer {
    height: 20vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container,
    .contact-info-upper-container {
    margin: 0.5rem;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.2rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  .certificates-container {
    padding: 0%;
  }

  .certificates-box {
    flex-direction: column;
    width: 90%;
  }

  .certificate-img-div, .certificate-desc {
    width: 100%;
    margin: 0%;
  }

  .details-container {
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .skill-box{
    width: 40%;
  }

  .article-container {
    gap: 0.8rem;
  }

  h3 {
    font-size: 1rem;
  }

  article p {
    font-size: 0.8rem;
  }

  .btn {
    padding: 0.4rem;
    width: 5rem;
    font-size: 0.6rem;
  }

  .para {
    font-size: 0.7rem;
  }
}
